GROQ_API_KEY= YOUNEEDAPIKEY
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your-langsmith-api-key-here
LANGCHAIN_PROJECT=your-project-name-here
QDRANT_URL=https://YOUR_CLUSTER_URL
QDRANT_API_KEY=YOUR_API_KEY